@import 'variables'

html 
    box-sizing: border-box
    scroll-behavior: smooth

*,
*::after,
*::before
    box-sizing: inherit

body 
    font-family: $fuente_principal
    background: url('../img/prism1.png') repeat
    background-attachment: fixed
    color: $blanco

.contenedor
    width: 95%
    max-width: 1200px
    margin: 0 auto

img 
    max-width: 100%

h1, h2, h3, h4, h5, h6, p 
    margin: 0
    padding: 0

.titulo
    margin-bottom: 4rem
    text-align: center
    font-size: 2rem
    font-weight: 500

div.boton
    display: flex
    justify-content: center
    a.boton
        background: $negro
        color: $blanco
        margin-top: 2rem
        padding: .8rem 1.5rem
        border-radius: 1.25rem
        display: inline-block
        cursor: pointer
        border: 1px solid $negro
        transition: all .5s ease
        &:hover
            color: $negro
            background: $blanco
            transform: scale(1.05)

.carga
    width: 100vw
    height: 100vh
    background: $negro
    display: flex
    justify-content: center
    align-items: center
    .barra1
        animation-delay: 0.1s
    .barra2
        animation-delay: 0.2s
    .barra3
        animation-delay: 0.3s
    .barra4
        animation-delay: 0.4s       
    .barra5
        animation-delay: 0.5s
    .barra6
        animation-delay: 0.6s
    .barra7
        animation-delay: 0.7s
    .barra8
        animation-delay: 0.8s           
    .barra
        width: 6px
        height: 60px
        margin: .15rem
        background: $blanco
        display: inline-block
        transform-origin: bottom center
        animation: carga 1.5s ease-in-out infinite 
        @keyframes carga
            0%
                transform: scaleY(0.1)
                background: $blanco
            50%
                transform: scaleY(1)
                background: #ff0000
            100%
                transform: scaleY(0.1)
                background: transparent    