@import 'variables'

html 
    box-sizing: border-box
    scroll-behavior: smooth

*,
*::after,
*::before
    box-sizing: inherit

body 
    font-family: $fuente_principal
    background: url('../img/prism1.png') repeat
    background-attachment: fixed
    color: $blanco

.contenedor
    width: 95%
    margin: 0 auto

img 
    max-width: 100%

h1, h2, h3, h4, h5, h6, p 
    margin: 0
    padding: 0
